h1 Inloggning

form method="POST"
    input type="text" name="username" placeholder="Användarnamn"
    input type="password" name="password" placeholder="Lösenord"
    button type="submit" Logga in

a href="/auth/signup" Skapa konto