h1 Skapa konto

form method="POST"
    input type="text" name="username" placeholder="Användarnamn"
    input type="password" name="password" placeholder="Lösenord"
    input type="password" name="password_conf" placeholder="Upprepa lösenord"
    button type="submit" Skapa konto

a href="/auth/login" Logga in