ul
    - @categories.each do |category|
        li 
            a href="/categories/#{category["id"]}" = category["name"]

- if @user != nil 
    form action="/logout" method="POST"
        button value="submit" Logga ut