- if @user and @user["role"] >= 2
    a href="/categories/new" Skapa kategori

ul
    - @categories.each do |category|
        li 
            a href="/categories/#{category["id"]}" = category["name"]