h1 = @category["name"]

- if @user and @user["role"] >= 2
    a href="/categories/#{@category["id"]}/update" Uppdatera kategori

a href="/categories/#{@category["id"]}/new" Ny tråd

ol 
    - @threads.each do |thread|
        li
            a href="/threads/#{thread["id"]}" = thread["title"]