h1 #{@profile_user["username"]}

a href="/users/#{@profile_user["id"]}/followers" #{@followers.length()} följare
a href="/users/#{@profile_user["id"]}/following" #{@following.length()} följer

- if @user and @profile_user["id"] != @user["id"]
    form action="/users/#{@profile_user["id"]}/follow" method="POST"
        button type="submit" #{@is_following_user ? "Avfölj" : "Följ"}
- elsif @user == nil 
        a href="/login" Logga in för att följa

p #{@replies_count} svar

h2 Skapade trådar 
a href="/users/#{@profile_user["id"]}/threads" Alla

ol
    - @threads.each do |thread|
        li 
            a href="/threads/#{thread["id"]}" #{thread["title"]}